{% extends feincms_page.template.path|default:"blog/base.html" %}

{% load disqus_tags %}
{% load feincms_tags %}

{% block page_title %}{{ post.title|safe }}{% endblock %}
{% block page_subtitle %}<h3><a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a></h3>{% endblock %}

{% block extra-head %}
<meta name="description" content="{{ post.meta_description|default:feincms_page.meta_description }}" />
<meta name="keywords" content="{{ post.meta_keywords|default:feincms_page.meta_keywords }}" />
{{ post.content.media.css }}
{% endblock %}

{% block extra-js %}
{{ post.content.media.js }}
{% endblock %}

{% block page_content %}
<div class="large-8 columns">
    <div class="title-post">
      <h4>{{ post.title }}</h4>
          {% if DEBUG %}
          {% disqus_dev %}
          {% endif %}
          <a href="#disqus_thread" title="Comments" class="comment">
          {% disqus_num_replies %}
          </a>
    </div>
    {% include "blog/post_meta.html" %}
    {% feincms_render_region post "main" request %}
    <div class="disqus_comments">
    {% disqus_show_comments %}
    </div>
</div>

{% endblock %}
